<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akfly.hzz.mapper.CustomerbillrelatedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qianxian.api.vo.CustomerbillrelatedVo">
        <id column="cbr_id" property="cbrId" />
        <result column="cbi_id" property="cbiId" />
        <result column="cbrorderid" property="cbrorderid" />
        <result column="cbr_money" property="cbrMoney" />
        <result column="cbr_type" property="cbrType" />
        <result column="cbr_createtime" property="cbrCreatetime" />
        <result column="cbr_updatetime" property="cbrUpdatetime" />
        <result column="cbr_class" property="cbrClass" />
    </resultMap>

</mapper>
