<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxian.api.mapper.GoodsbaseinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qianxian.api.vo.GoodsbaseinfoVo">
        <id column="gbi_id" property="gbiId" />
        <result column="gbi_name" property="gbiName" />
        <result column="gbi_cid" property="gbiCid" />
        <result column="gbi_title" property="gbiTitle" />
        <result column="gbi_desc" property="gbiDesc" />
        <result column="gbi_discountprice" property="gbiDiscountprice" />
        <result column="gbi_price" property="gbiPrice" />
        <result column="gbi_count" property="gbiCount" />
        <result column="gbi_valid" property="gbiValid" />
        <result column="gbi_type" property="gbiType" />
        <result column="gbi_saleable" property="gbiSaleable" />
        <result column="gbi_createtime" property="gbiCreatetime" />
        <result column="gbi_updatetime" property="gbiUpdatetime" />
        <result column="gbi_operator" property="gbiOperator" />
        <result column="gbi_limitperson" property="gbiLimitperson" />
        <result column="gbi_limitday" property="gbiLimitday" />
        <result column="gbi_limitsalenum" property="gbiLimitsalenum" />
        <result column="gbi_pricefloor" property="gbiPricefloor" />
        <result column="gbi_priceceiling" property="gbiPriceceiling" />
        <result column="gbi_servicerate" property="gbiServicerate" />
        <result column="gbi_sort" property="gbiSort" />
        <result column="gbi_picture" property="gbiPicture" />
    </resultMap>

</mapper>
