<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akfly.hzz.mapper.TradeorderinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qianxian.api.vo.TradeorderinfoVo">
        <id column="id" property="id" />
        <result column="toi_orderid" property="toiOrderid" />
        <result column="tgs_id" property="tgsId" />
        <result column="gii_id" property="giiId" />
        <result column="gbi_id" property="gbiId" />
        <result column="tgs_buyerid" property="tgsBuyerid" />
        <result column="toi_sellerid" property="toiSellerid" />
        <result column="toi_price" property="toiPrice" />
        <result column="toi_status" property="toiStatus" />
        <result column="toi_tradetime" property="toiTradetime" />
        <result column="toi_updatetime" property="toiUpdatetime" />
        <result column="toi_buyservicefee" property="toiBuyservicefee" />
        <result column="toi_sellservicefee" property="toiSellservicefee" />
    </resultMap>

</mapper>
